.footer {
    background-color: #1A4C44;
    text-align: center;
    margin-right: 0;
    margin-top:70px;

    
}

.footer__logo {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}
.footer__brand{

}
.footer__brand p {
    color: var(--text-muted);
    max-width: 500px;
    margin: 0 auto 30px;
}
.footer__brand img{
    width: 200px;
        overflow-clip-margin: none;
        display: inline-block;
        justify-content: center;   
}
.footer__copy {
    font-size: 13px;
    color: var(--text-muted);
    border-top: 1px solid rgba(255,255,255,0.1);
    padding-top: 20px;
}